<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Producto</title>
    <link rel="stylesheet" href="/styles/styles_taller.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Fjalla+One" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Source+Code+Pro" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Muli" rel="stylesheet">

</head>
<body>
<div class="app__fixed">
    <nav class="app__navegacion" id="nav-bar">
        <ul class="app__lista-nav">
           <li class="app__item-navegacion app__item-navegacion--carrito"><i class="fas fa-reply-all"></i></li>

                    <li class="app__item-navegacion app__item-navegacion--titulo">CHECKOUT</li>

                    <li class="app__item-navegacion app__item-navegacion--carrito"> <i class="app__carrito" data-feather="shopping-cart"></i><p class="app__NoProducto"></p></li>
        </ul>
    </nav>
</div>
    
  <form class="form" action="/comprado" method="POST">
        <div class="form__inputs">
            <p class="form__titulos">E-mail</p>
        <input placeholder="ejemplo@mail.com" class="form__email  form__item" type="text" name="correo">

        <p class="form__titulos">País</p>
        <input  placeholder="País" class="form__pais  form__item" type="text" name="pais">
        <p class="form__titulos">Ciudad</p>
        <input  placeholder="Ciudad" class="form__ciudad  form__item" type="text" name="ciudad">
  
        <p class="form__titulos">Direccion</p>
        <select placeholder="calle o carrera" class="form__tipo  form__item" name="direccionPrincipal">
            <option value="Calle">calle</option>
            <option value="Carrera">carrera</option>
        </select>
            
        </select>
        <input  placeholder="Numero de calle o carrera" class="form__cll-cr  form__item" type="text" name="direccionNumero">
        <p class="form__num">#  </p>
        <input  placeholder="Numero" class="form__numero form__item"  type="text" name="direccionSecundaria">
        <p class="form__titulos">Comentarios adicionales</p>
        <textarea rows="50" cols="30" placeholder="Comentarios" class="form__comentarios form__item" name="comentarios">  </textarea>

        <h2 class="form__metodo">METODO DE PAGO</h2>

        <p class="form__titulos"></p>
        <div class="form__pago"> <p>Tarjea C</p> <i class=
        "fas fa-money-bill"></i> <input type="checkbox"></div>
        
        <p class="form__titulos"></p>
        
        <div class="form__pago"> <p>Efectivo</p> <i class="fas fa-credit-card"></i> <input type="checkbox"></div>

        </div>

 

        <div class="carrito__derecha">
            <div>
            <div class="carrito__derecha-contenido">
                
                <ul class="carrito__resumen">

                   <li class="carrito__item-resumen carrito__item-resumen--titulo"> <p>RESUMEN DE COMPRA</p></li>

                    <li class="carrito__item-resumen"><p>Subtotal</p> <p class="subtotal"></p></li>

                    <li class="carrito__item-resumen carrito__item-resumen--produc"><p>Envio</p> <p>GRATIS</p></li>

                    <li class="carrito__item-resumen"><p>Total</p> <p class="total"></p></li>

                </ul>
            
                <button type="submit" class="carrito__btn-comprar">COMPRAR</button>
                
            </div>
            </div>
        </div>
        <input class="pedidos" type="hidden" name="pedidos">
<input class="valorTotal" type="hidden" name="valorTotal">
        
    </form>




    <script src="/js/taller2.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/feather-icons/dist/feather.min.js"></script>       


</body>
</html>