* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  height: 100%;
}

body {
  font-family: "Source Code Pro", monospace;
  height: 100%;
  background-color: #1b1c1f;
}

.parallax-mirror {
  opacity: .6;
}

#juego {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-image: url("/imgs/switch.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  padding: 1.3em;
  margin: 2em 0;
}

.texto__mas {
  display: none;
  font-family: "Source Code Pro", monospace;
  font-size: 0.6em;
}

.app {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: auto;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.app__fixed {
  position: fixed;
  width: 100%;
  z-index: 0;
}

.app__fixed1 {
  position: fixed;
  width: 100%;
  z-index: 3;
}

.app__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100vh;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.app__inicial {
  height: 90vh;
  width: 100%;
  background-image: url(/imgs/baner2.jpeg);
  background-size: cover;
  background-repeat: no-repeat;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-attachment: fixed;
  background-position: center;
}

.app__logo-switch {
  width: 18em;
  height: 18em;
  background-image: url(/imgs/logo-switch.png);
  background-size: cover;
  background-repeat: no-repeat;
  -webkit-transition: all .8s ease-in-out;
  transition: all .8s ease-in-out;
}

.app__logo-switch:hover {
  -webkit-transform: rotate(360deg);
          transform: rotate(360deg);
  -webkit-transform: rotate(-360deg);
          transform: rotate(-360deg);
}

.app__boton-buynow {
  position: relative;
  color: 0 0 0 0;
  border: solid 3px;
  width: 17em;
  height: 6em;
  border-radius: 3em;
  border: 1px solid white;
  background-color: transparent;
  color: white;
  overflow: hidden;
  font-size: .8em;
}

.app__boton-buynow::after {
  background-color: white;
  border-radius: 3rem;
  content: '';
  display: block;
  height: 100%;
  width: 100%;
  position: absolute;
  left: 0;
  top: 0;
  -webkit-transform: translate(-100%, 0) rotate(10deg);
          transform: translate(-100%, 0) rotate(10deg);
  -webkit-transform-origin: top left;
          transform-origin: top left;
  -webkit-transition: .3s ease-out;
  transition: .3s ease-out;
  z-index: -1;
}

.app__boton-buynow:hover::after {
  -webkit-transform: translate(0, 0);
          transform: translate(0, 0);
}

.app__boton-buynow:hover {
  border: 2px solid transparent;
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
  cursor: pointer;
}

.app__boton-buynow:hover .boton__compra {
  color: #898989;
}

.app__navegacion {
  height: 10vh;
  width: 100%;
  background-color: #0096c4;
  background-color: #27282C;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  z-index: 30;
}

.app__fijo {
  position: fixed;
  top: 0;
  width: 100%;
}

.app__lista-nav {
  z-index: 30;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-right: 10%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
}

.app__lista-nav--tit {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 7px 0 0 0;
  margin: 0;
}

.app__carrito {
  font-size: 20px;
  margin-top: 10px;
}

.app__item-navegacion {
  list-style-type: none;
  margin-left: 10%;
  display: inline-block;
  position: relative;
  padding-bottom: 3px;
  color: #898989;
}

.app__item-navegacion--titulo {
  font-size: 2em;
  color: #d8d8d8;
}

.app__item-navegacion--carrito {
  font-size: 1em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.app__NoProducto {
  font-size: .8em;
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #ec0235;
  border-radius: 20px;
  margin: .4em 0em .4em 0;
  padding: 0 .3em 0 .3em;
}

.app__item-navegacion:after {
  content: '';
  display: block;
  margin: auto;
  height: .1em;
  width: 0px;
  background: transparent;
  -webkit-transition: width .5s ease, background-color .5s ease;
  transition: width .5s ease, background-color .5s ease;
}

.app__item-navegacion:hover {
  cursor: pointer;
}

.app__item-navegacion:hover:after {
  width: 100%;
  background: white;
  cursor: pointer;
}

.app__item-navegacion-logo {
  list-style-type: none;
  margin-left: 10%;
  display: inline-block;
  position: relative;
  padding-bottom: .6px;
  color: #898989;
}

.app__item-navegacio-logo:after {
  content: '';
  display: block;
  margin: auto;
  height: .1em;
  width: 0px;
  background: transparent;
  -webkit-transition: width .5s ease, background-color .5s ease;
  transition: width .5s ease, background-color .5s ease;
}

.app__switch {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 80vh;
  width: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.app__titulo-switch {
  color: white;
  opacity: .5;
  font-size: 8em;
  padding: auto 0;
  text-shadow: 5px 10px 18px #181818a2;
}

.app__titulo-switch:hover {
  -webkit-transition: 2s;
  transition: 2s;
  color: white;
  opacity: 1;
  cursor: pointer;
}

.app__titulo-switch:hover:after {
  width: 100%;
  background: white;
  cursor: pointer;
}

.app__titulo-switch:after {
  -webkit-transition: 2s;
  transition: 2s;
  content: '';
  display: block;
  margin: auto;
  height: .04em;
  width: 0px;
  background: transparent;
  -webkit-transition: width .5s ease, background-color .5s ease;
  transition: width .5s ease, background-color .5s ease;
}

.app__footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-preferred-size: auto;
      flex-basis: auto;
  height: 70vh;
  width: 100%;
}

.izquierda-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-preferred-size: 44%;
      flex-basis: 44%;
  width: 44%;
}

.izquierda-footer__lista {
  margin: 8%;
}

.izquierda-footer__items {
  font-size: 1.6em;
  color: white;
  list-style-type: none;
  padding: .7em 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.izquierda-footer__nintendo {
  padding-top: .5em;
  width: 37%;
}

.separador-footer {
  width: 4%;
  -ms-flex-preferred-size: 4%;
      flex-basis: 4%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.separador-footer__2 {
  width: 100%;
  -ms-flex-preferred-size: 45%;
      flex-basis: 45%;
  height: 45%;
  background-color: #ec0235;
}

.separador-footer__1 {
  width: 100%;
  -ms-flex-preferred-size: 55%;
      flex-basis: 55%;
  height: 55%;
  background-color: #0096c4;
}

.derecha-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-preferred-size: 62%;
      flex-basis: 62%;
  width: 62%;
  height: 100%;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.derecha-footer__texto {
  color: white;
  font-size: 2;
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
  width: 50%;
  height: 100%;
  padding: 10% 0 0 5%;
}

.derecha-footer__titulo {
  font-size: 1.5em;
}

.derecha-footer__imagen {
  height: 100%;
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.derecha-footer__bowser {
  width: 90%;
}

.informacion {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -ms-flex-preferred-size: 170vh;
      flex-basis: 170vh;
  height: 170vh;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.informacion__titulo {
  font-size: 5em;
}

.informacion__descripcion {
  font-size: 1.4em;
  font-family: "Source Code Pro", monospace;
  margin-top: 1em;
  line-height: 1.5em;
  text-shadow: 3px 3px 1px #000000cb;
}

.informacion__cuadro {
  background-color: white;
  margin-top: .6em;
  width: 400px;
  height: 10px;
}

.informacion__1 {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  -ms-flex-preferred-size: 48%;
      flex-basis: 48%;
  width: 100%;
  background-color: chartreuse;
}

.informacion__imagen1 {
  background-size: cover;
  width: 100%;
  height: 100%;
  background-image: url(/imgs/informacion__imagen1.jpeg);
  -webkit-transition: 1s;
  transition: 1s;
}

.informacion__azul {
  color: #0096c4;
}

.informacion__cuadro-azul {
  background-color: #0096c4;
}

.informacion__texto1 {
  padding: 10% 15% 0 10%;
  font-family: 'Fjalla One', sans-serif;
  color: white;
  opacity: .6;
  -webkit-transition: 1s;
  transition: 1s;
  line-height: 6em;
}

.informacion__texto2 {
  font-family: 'Fjalla One', sans-serif;
  color: white;
  padding: 10% 15% 0 10%;
  -webkit-transition: 1s;
  transition: 1s;
  line-height: 6em;
}

.informacion__texto3 {
  color: #0096c4;
  font-family: 'Fjalla One', sans-serif;
  padding: 10% 15% 0 10%;
}

.informacion__11 {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-preferred-size: 68vh;
      flex-basis: 68vh;
  height: 68vh;
  background-color: #00ff62;
  background-image: url(/imgs/informacion__imagen1.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
}

.informacion__hover:hover .informacion__imagen1 {
  text-shadow: 2px 2px 4px #0000008f;
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
  background-image: url(/imgs/informacion__imagen1-hover.jpg);
}

.informacion__hover:hover .informacion__texto1 {
  opacity: 1;
}

.informacion__hover3:hover .informacion__imagen3 {
  text-shadow: 2px 2px 4px #0000008f;
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
  background-image: url(/imgs/informacion__imagen3-hover.jpg);
}

.informacion__hover3:hover .informacion__texto1 {
  opacity: 1;
}

.informacion__hover4:hover .informacion__imagen4 {
  text-shadow: 2px 2px 4px #0000008f;
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
  background-image: url(/imgs/informacion__imagen4-hover-01.jpg);
}

.informacion__hover4:hover .informacion__texto1 {
  opacity: 1;
}

.informacion__12 {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-preferred-size: 60%;
      flex-basis: 60%;
  background-color: #000000;
  overflow: hidden;
}

.informacion__separador {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  -ms-flex-preferred-size: 4%;
      flex-basis: 4%;
  background-color: #0073a8;
}

.informacion__2 {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  -ms-flex-preferred-size: 48%;
      flex-basis: 48%;
  background-color: #ff0040;
  overflow: hidden;
  background-size: cover;
  background-repeat: no-repeat;
  -webkit-transition: 1s;
  transition: 1s;
}

.informacion__imagen2 {
  margin-top: 5em;
  width: 75%;
}

.informacion__21 {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-preferred-size: 35%;
      flex-basis: 35%;
  height: 35%;
  background-color: #ff0080;
  overflow: hidden;
}

.informacion__imagen3 {
  background-size: cover;
  width: 100%;
  height: 100%;
  background-image: url(/imgs/informacion__imagen3.jpg);
  -webkit-transition: 1s;
  transition: 1s;
}

.informacion__22 {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-preferred-size: 65%;
      flex-basis: 65%;
  background-color: #00ff62;
  overflow: hidden;
}

.informacion__imagen4 {
  background-size: cover;
  width: 100%;
  height: 100%;
  background-image: url(/imgs/informacion__imagen4-01.jpg);
  -webkit-transition: 1s;
  transition: 1s;
}

.ensayo {
  background-color: black;
  color: white;
}

span {
  border: .1em solid white;
  padding: 1.1em;
  border-radius: 50%;
  width: 1em;
  height: 1em;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 0.5em;
}

.especificaciones {
  width: 100%;
  height: 60vh;
  background-image: url(/imgs/kirby-especificaciones.png);
  background-size: 30%;
  background-position: right;
  background-repeat: no-repeat;
}

.especificaciones__arriba {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 4em;
  margin-left: 130px;
  margin-bottom: -20px;
}

.especificaciones__titulo {
  color: white;
  font-size: 4em;
  margin-right: .3em;
}

.especificaciones__tuercas {
  width: 100px;
  height: 100px;
}

.perspective {
  -webkit-perspective: 90em;
          perspective: 90em;
  -webkit-perspective-origin: 50% 50px;
          perspective-origin: 50% 50px;
  width: 494px;
  margin: 0 auto;
  font-family: 'Roboto', sans-serif;
  font-weight: 100;
  color: #fff;
  text-align: center;
}

.perspective__input {
  display: none;
}

.tab {
  position: absolute;
  width: 130px;
  height: 70px;
  background: #ec0235;
  margin-left: 10px;
  line-height: 70px;
  font-weight: 50;
  font-size: 2.5em;
}

.tab:nth-child(1) {
  top: -5px;
  background: #ec0235;
}

.tab:nth-child(2) {
  top: 69px;
  background-color: #27282C;
}

.tab:nth-child(3) {
  top: 143px;
  background: #0096c4;
}

.tab:hover {
  opacity: .8;
}

.cube {
  position: relative;
  margin: 60px -450px 0;
  width: 700px;
  height: 200px;
  -webkit-transform-origin: 0 100px;
          transform-origin: 0 100px;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  -webkit-transition: -webkit-transform 0.5s ease-in;
  transition: -webkit-transform 0.5s ease-in;
  transition: transform 0.5s ease-in;
  transition: transform 0.5s ease-in, -webkit-transform 0.5s ease-in;
}

.tab-content {
  width: 700px;
  height: 200px;
  position: absolute;
}

.tab-content .tit {
  font-size: 1,5em;
  margin: 50px 0 10px;
  font-weight: 300;
}

.tab-content .p {
  font-size: 1.4em;
}

.tab-content:nth-child(2) {
  -webkit-transform: translateZ(100px);
          transform: translateZ(100px);
  background: #27282C;
}

.tab-content:nth-child(1) {
  -webkit-transform: rotateX(-270deg) translateY(-100px);
          transform: rotateX(-270deg) translateY(-100px);
  -webkit-transform-origin: top left;
          transform-origin: top left;
  background: #ec0235;
}

.tab-content:nth-child(3) {
  -webkit-transform: rotateX(-90deg) translateY(100px);
          transform: rotateX(-90deg) translateY(100px);
  -webkit-transform-origin: bottom center;
          transform-origin: bottom center;
  background: #0096c4;
}

#tab-top:checked ~ .cube {
  -webkit-transform: rotateX(-90deg);
          transform: rotateX(-90deg);
}

#tab-front:checked ~ .cube {
  -webkit-transform: rotateX(0deg);
          transform: rotateX(0deg);
}

#tab-bottom:checked ~ .cube {
  -webkit-transform: rotateX(90deg);
          transform: rotateX(90deg);
}

.grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: (380px)[4];
      grid-template-rows: repeat(4, 380px);
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  grid-gap: 5px;
}

.item:nth-child(1) {
  -ms-grid-row: 1;
  -ms-grid-row-span: 3;
  grid-row: 1 / 4;
}

.item:nth-child(2) {
  -ms-grid-column: 2;
  -ms-grid-column-span: 2;
  grid-column: 2 / 4;
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  grid-row: 1 / 3;
}

.item:nth-child(3) {
  -ms-grid-column: 3;
  -ms-grid-column-span: 1;
  grid-column: 3 / 4;
  -ms-grid-row: 3;
  -ms-grid-row-span: 2;
  grid-row: 3 / 5;
}

.item:nth-child(4) {
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2 / 3;
  -ms-grid-row: 3;
  -ms-grid-row-span: 1;
  grid-row: 3 / 4;
}

.item:nth-child(5) {
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-column: 1 / 3;
  -ms-grid-row: 4;
  -ms-grid-row-span: 1;
  grid-row: 4 / 5;
}

/* styling code */
.grid {
  margin: 6px auto;
  max-width: 100%;
}

.grid > .item {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: white;
  opacity: .4;
  -webkit-transition: 1s;
  transition: 1s;
}

.grid > .item:hover {
  opacity: 1;
  z-index: 4;
}

.publicidad-nes {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-preferred-size: 100vh;
      flex-basis: 100vh;
  width: 100%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-image: url(/imgs/Nes.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: right;
  margin-bottom: 9em;
  padding: 2em 0;
}

.publicidad-nes__20 {
  color: #ec0235;
  font-family: "Fjalla One", sans-serif;
  font-size: 28em;
}

.publicidad-nes__aniversario {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 3em;
  margin-left: -100px;
  font-family: "Fjalla One", sans-serif;
  font-size: 5em;
  line-height: 2.4em;
  color: white;
}

.publicidad-nes__n {
  font-size: 3.5em;
}

.publicidad-nes__texto {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.publicidad-nes__boton {
  font-size: 1.5em;
  position: relative;
  color: 0 0 0 0;
  border: solid 3px;
  width: 12em;
  height: 4em;
  border-radius: 3em;
  border: 1px solid white;
  background-color: transparent;
  color: white;
  overflow: hidden;
}

.publicidad-nes__boton::after {
  background-color: white;
  border-radius: 3rem;
  content: '';
  display: block;
  height: 100%;
  width: 100%;
  position: absolute;
  left: 0;
  top: 0;
  -webkit-transform: translate(-100%, 0) rotate(10deg);
          transform: translate(-100%, 0) rotate(10deg);
  -webkit-transform-origin: top left;
          transform-origin: top left;
  -webkit-transition: .3s ease-out;
  transition: .3s ease-out;
  z-index: -1;
}

.publicidad-nes__boton:hover::after {
  -webkit-transform: translate(0, 0);
          transform: translate(0, 0);
}

.publicidad-nes__boton:hover {
  border: 2px solid transparent;
  color: #898989;
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
  cursor: pointer;
}

.newsletter {
  padding: 0 5% 0 5%;
  width: 94%;
  height: 20vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: left;
      align-content: left;
  -webkit-box-align: left;
      -ms-flex-align: left;
          align-items: left;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-position: right;
  background-repeat: no-repeat;
}

.newsletter__input {
  border: none;
  padding: 1.3em .5em;
  background-color: white;
  width: 50em;
  border-radius: 5px;
}

.newsletter__boton {
  margin-top: 1em;
  font-size: 1em;
  position: relative;
  color: 0 0 0 0;
  border: solid;
  width: 10em;
  padding: .6em;
  border-radius: 1em;
  border: 1px solid white;
  background-color: transparent;
  color: white;
  overflow: hidden;
  -webkit-transition: .2s;
  transition: .2s;
}

.newsletter__boton::after {
  background-color: white;
  border-radius: 3rem;
  content: '';
  display: block;
  height: 100%;
  width: 100%;
  position: absolute;
  left: 0;
  top: 0;
  -webkit-transform: translate(-100%, 0) rotate(10deg);
          transform: translate(-100%, 0) rotate(10deg);
  -webkit-transform-origin: top left;
          transform-origin: top left;
  -webkit-transition: .3s ease-out;
  transition: .3s ease-out;
  z-index: -1;
}

.newsletter__boton:hover::after {
  -webkit-transform: translate(0, 0);
          transform: translate(0, 0);
}

.newsletter__boton:hover {
  border: 2px solid transparent;
  color: #898989;
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
  cursor: pointer;
}

.interaccion {
  width: 100%;
  height: 80vh;
  background-image: url(/imgs/interaccionbase.png);
  background-size: 70%;
  background-repeat: no-repeat;
  background-position: top;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 4em 0;
}

.interaccion__imagen {
  margin-top: -4em;
  width: 70vh;
  -webkit-transition: all 4s ease-in-out;
  transition: all 4s ease-in-out;
}

.interaccion__seleccion {
  margin-top: 5vh;
  width: 100%;
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.interaccion__perso {
  height: 15vh;
  opacity: 0.8;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.interaccion__perso:hover {
  opacity: 1;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  z-index: 3;
  border: 3px solid #ec0235;
  cursor: pointer;
}

.interaccion__perso.activo {
  opacity: 1;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  z-index: 3;
  border: 3px solid #ec0235;
}

.boton__compra {
  color: white;
  text-decoration: none;
}

.boton__compra:hover {
  -webkit-transition: 1s;
  transition: 1s;
}

.tienda {
  font-family: "Muli", sans-serif;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: auto;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.tienda__fantasma {
  height: 10vh;
}

.tienda__barra {
  height: 10%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -ms-flex-preferred-size: 10%;
      flex-basis: 10%;
  background-color: #898989;
}

.tienda__contenido {
  -ms-flex-preferred-size: auto;
      flex-basis: auto;
  height: 90vh;
  background-color: #cecece;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.tienda .flex-fixed {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.filtros {
  width: 25%;
  height: 100vh;
  background-color: #1b1c1f;
}

.filtros__lista {
  list-style-type: none;
  padding: 1em;
  margin: -3  em 1em 0 1em;
}

.filtros__item1 {
  color: white;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-size: 1.3em;
  margin: 2em 0 0 0;
}

.filtros__item2 {
  padding: .5em 0 0 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  justify-content: space-between;
  color: white;
  font-size: 1em;
  margin: 0 1em 0 2.5em;
}

.productos {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 75%;
  height: 100vh;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.filtro1 {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 100%;
  height: 4em;
  flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 1em 6%  -1em 6%;
}

.filtro1__tipo {
  font-size: 1em;
  border-radius: 20px;
  height: 2em;
  padding: 10px;
  background-color: #696969;
  color: white;
  border: solid 0px white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.juegos {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: auto;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  background-color: #cecece;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 0 0 10em 0;
  z-index: 1;
}

.producto {
  width: 44%;
  height: 20em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #f1f1f1;
  margin: 4% 0 0 4%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.producto__fantasma {
  width: 25%;
}

.producto:hover {
  cursor: pointer;
}

.producto__corazon {
  color: white;
  font-size: 1.9em;
  background-color: #0096c4;
  border-radius: 5px;
  width: 1.6em;
  border-radius: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.producto__mas {
  color: white;
  font-size: 1.9em;
  background-color: #898989;
  width: 1.6em;
  border-radius: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.producto__iconos {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  height: 7em;
  padding: 5px;
  width: 100%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.producto__img {
  margin: -20px 0 0 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  height: 24em;
  padding: 5px;
  width: 90%;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.producto__info {
  margin: 20px 0 0 0;
  border-top: solid 1px #bbbbbb;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 7em;
  width: 90%;
}

.producto__titulo {
  padding: 10px;
  width: 50%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
  -webkit-box-align: left;
      -ms-flex-align: left;
          align-items: left;
}

.producto__valor {
  padding: 10px;
  width: 50%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: right;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.producto__estadisticas {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 3em;
  width: 90%;
}

.producto__texto {
  color: #898989;
}

.producto__icons {
  padding: 10px;
}

.descripcion {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 90VH;
  background-color: #cecece;
  color: #707070;
}

.descripcion__desc {
  color: #141414;
}

.descripcion__img {
  padding: 2em 0 0 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 90vh;
  width: 40%;
}

.descripcion__imagen {
  height: 70vh;
  width: 100%;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.descripcion__detalles {
  padding: 2em 4em 0 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 60%;
  height: 90vh;
  background-color: #cecece;
  margin: 0 0 0 -5em;
}

.descripcion__nombre-categoria {
  color: #141414;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  height: 15vh;
  margin: 0 0 1em 0;
}

.descripcion__categ {
  color: #707070;
}

.descripcion__precio {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-size: 1.5em;
  margin: 0 0 .6em 0;
}

.descripcion__iconos {
  font-size: 1em;
  margin: 0 0 1em 0;
}

.descripcion__likes {
  margin: 1em 0 0 8.3em;
  color: #696969;
}

.carrito {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: auto;
  background: #1b1c1f;
}

.carrito__fantasma {
  height: 14vh;
}

.carrito__izquierda {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 60%;
  height: auto;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 2em 2em 0 2em;
}

.carrito__producto {
  height: 13em;
  width: 90%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 0 2em 0;
  border-bottom: solid 1px white;
}

.carrito__descripcion {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 45%;
  height: 85%;
  color: white;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-size: 1.3em;
  padding: 0em 2em .5em 1em;
}

.carrito__opciones {
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 35%;
  height: 11em;
  color: white;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.carrito__eliminar {
  font-size: 2.5em;
  color: #0096c4;
}

.carrito__eliminar:hover {
  cursor: pointer;
}

.carrito__cantidad {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  color: white;
  font-size: 1.6em;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  justify-content: space-between;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 6em;
  height: 2em;
  border-radius: 30px;
  border: solid 3px white;
}

.carrito__imagen {
  width: 20%;
  height: 11em;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

.carrito__derecha {
  padding: 2em 2em 2em 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 40%;
  height: 100vh;
  -webkit-box-pack: first baseline;
      -ms-flex-pack: first baseline;
          justify-content: first baseline;
}

.carrito__derecha-contenido {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: fixed;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 1.5em 2em 2.5em 2em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 28em;
  height: 75vh;
  background-color: #27282C;
}

.carrito__resumen {
  list-style-type: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  height: 85%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0 2em 2em 0;
}

.carrito__item-resumen {
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-size: 1.4em;
}

.carrito__item-resumen--produc {
  border-bottom: solid 1px white;
  padding: 0 0 1.5em 0;
}

.carrito__item-resumen--titulo {
  font-size: 2em;
  margin-bottom: 2em;
}

.carrito__btn-comprar {
  font-size: 1.2em;
  width: 8em;
  height: 2em;
  color: white;
  background-color: #0096c4;
  border-radius: 30px;
  border: 0px;
  padding: 0 0 0 0;
}

.carrito__mas {
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  border-radius: 30px;
  font-size: 1.6em;
  -webkit-transition: .5s;
  transition: .5s;
}

.carrito__mas:hover {
  cursor: pointer;
  color: #1b1c1f;
  background-color: white;
}

.carrito__menos {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  color: white;
  width: 2em;
  border-radius: 30px;
  font-size: 1.6em;
  -webkit-transition: .5s;
  transition: .5s;
}

.carrito__menos:hover {
  cursor: pointer;
  color: #1b1c1f;
  background-color: white;
}

.form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  padding-top: 4.5em;
  width: 100%;
  background: #0096c4;
  height: 90vh;
  background: #1b1c1f;
}

.form__inputs {
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 60%;
  height: 90vh;
  padding: 2em 4em;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.form__item {
  margin-bottom: 2em;
  padding: .5em;
  margin-right: 2em;
  width: 80%;
}

.form__pais {
  width: 80%;
}

.form__ciudas {
  width: 45%;
}

.form__tipo {
  width: 15%;
}

.form__cll-cr {
  width: 30%;
}

.form__numero {
  width: 21%;
}

.form__num {
  margin-right: .3em;
  font-size: 2em;
  margin-top: -.3em;
}

.form__comentarios {
  height: 6em;
}

.form__titulos {
  width: 100%;
}

.form__metodo {
  margin: 0 0 1em 0;
}

.form__pago {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 50%;
}

@media (max-width: 600px) {
  .app__titulo-switch {
    opacity: 0;
  }
  .app__footer {
    font-size: .8em;
    height: 30vh;
  }
  .informacion {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    font-size: .7em;
  }
  .informacion__descripcion {
    font-size: 0;
  }
  .informacion__hover:hover .informacion__imagen1 {
    -webkit-transform: scale(1);
            transform: scale(1);
    background-image: none !important;
  }
  .informacion__hover3:hover .informacion__imagen3 {
    -webkit-transform: scale(1);
            transform: scale(1);
    background-image: url(/imgs/informacion__imagen3.jpg);
  }
  .informacion__hover4:hover .informacion__imagen4 {
    text-shadow: 2px 2px 4px #0000008f;
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
    background-image: url(/imgs/informacion__imagen4-01.jpg);
  }
  .informacion__hover4:hover .informacion__texto1 {
    opacity: 1;
  }
  .informacion__texto1 {
    opacity: 1;
  }
  .informacion__imagen2 {
    margin-top: 3em;
    width: 40%;
  }
  .informacion__12 {
    -ms-flex-preferred-size: 100vh;
        flex-basis: 100vh;
    height: 100vh;
  }
  .informacion__separador {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 0%;
    -ms-flex-preferred-size: 0;
        flex-basis: 0;
    background-color: #0073a8;
  }
  .informacion__cuadro {
    background-color: white;
    margin-top: .6em;
    width: 250px;
    height: 3px;
  }
  .grid {
    -ms-grid-rows: (80px)[4];
        grid-template-rows: repeat(4, 80px);
  }
  .grid > .item {
    opacity: .8;
  }
  .especificaciones {
    width: 100%;
    height: 100vh;
    background-image: url();
    width: 100%;
    height: 57vh;
  }
  .especificaciones__arriba {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-top: 4em;
    margin-left: 30px;
    margin-bottom: -20px;
  }
  .especificaciones__titulo {
    color: white;
    font-size: 2em;
    margin-right: .1em;
  }
  .especificaciones__tuercas {
    width: 50px;
    height: 50px;
  }
  .cube {
    position: relative;
    margin: 60px -450px 0;
    width: 400px;
    height: 200px;
    -webkit-transform-origin: 0 100px;
            transform-origin: 0 100px;
    -webkit-transform-style: preserve-3d;
            transform-style: preserve-3d;
    -webkit-transition: -webkit-transform 0.5s ease-in;
    transition: -webkit-transform 0.5s ease-in;
    transition: transform 0.5s ease-in;
    transition: transform 0.5s ease-in, -webkit-transform 0.5s ease-in;
  }
  .tab-content {
    width: 300px;
    height: 200px;
    position: absolute;
    left: 480px;
  }
  .tab {
    margin-left: 100px;
  }
  .interaccion {
    background-image: none;
  }
  .interaccion__seleccion {
    margin-top: 3vh;
  }
  .interaccion__perso {
    height: 8vh;
    opacity: 0.8;
    -webkit-transition: 0.4s;
    transition: 0.4s;
  }
  .publicidad-nes {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-preferred-size: 90vh;
        flex-basis: 90vh;
    width: 100%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-line-pack: center;
        align-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    background-repeat: no-repeat;
    background-size: contain;
  }
  .publicidad-nes__20 {
    color: #ec0235;
    font-family: "Fjalla One", sans-serif;
    font-size: 15em;
    margin-bottom: -320px;
  }
  .publicidad-nes__aniversario {
    font-family: "Fjalla One", sans-serif;
    font-size: 5em;
    line-height: 2em;
    color: white;
  }
  .publicidad-nes__n {
    font-size: 3em;
  }
  .publicidad-nes__texto {
    margin-left: 100px;
    margin-top: 0px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .publicidad-nes__boton {
    font-size: 1em;
  }
  .newsletter {
    background-image: none !important;
  }
  .newsletter__input {
    width: 320px;
  }
  .izquierda-footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-preferred-size: 44%;
        flex-basis: 44%;
    width: 44%;
  }
  .izquierda-footer__lista {
    margin: 8%;
  }
  .izquierda-footer__items {
    font-size: 1.2em;
    color: white;
    list-style-type: none;
    padding: .7em 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .izquierda-footer__nintendo {
    padding-top: .5em;
    width: 37%;
  }
  .separador-footer {
    width: 4%;
    -ms-flex-preferred-size: 4%;
        flex-basis: 4%;
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .separador-footer__2 {
    width: 100%;
    -ms-flex-preferred-size: 45%;
        flex-basis: 45%;
    height: 45%;
    background-color: #ec0235;
  }
  .separador-footer__1 {
    width: 100%;
    -ms-flex-preferred-size: 55%;
        flex-basis: 55%;
    height: 55%;
    background-color: #0096c4;
  }
  .derecha-footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-preferred-size: 62%;
        flex-basis: 62%;
    width: 62%;
    height: 100%;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .derecha-footer__texto {
    color: white;
    font-size: 0;
  }
  .derecha-footer__imagen {
    height: 100%;
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
    width: 100%;
  }
  .derecha-footer__bowser {
    width: 100%;
  }
  .descripcion {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    height: 90VH;
    background-color: #cecece;
    color: #707070;
    font-size: .5em;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .descripcion__img {
    padding: 2em 0 0 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    height: 90vh;
    width: 40%;
    margin: -2em 0 0 3em;
  }
  .descripcion__imagen {
    height: 70vh;
    width: 100%;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
  }
  .descripcion__detalles {
    padding: 2em 15em 8em 8em;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 110%;
    height: 110vh;
    background-color: #cecece;
  }
  .descripcion__descripcion {
    font-size: 2em;
  }
  .descripcion__nombre-categoria {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 100%;
    height: 15vh;
    margin: 0 0 1em 0;
  }
  .descripcion__categ {
    color: #707070;
  }
  .descripcion__precio {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin: 0 0 .6em 0;
  }
  .descripcion__iconos {
    font-size: 1em;
    margin: 0 0 1em 0;
  }
  .descripcion__likes {
    margin: -4em 0 0 0em;
    color: #696969;
  }
  .carrito {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    height: auto;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    background: #1b1c1f;
  }
  .carrito__fantasma {
    height: 14vh;
  }
  .carrito__izquierda {
    width: 100%;
  }
  .carrito__producto {
    width: 90%;
  }
  .carrito__cantidad {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    color: white;
    font-size: 1.6em;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    justify-content: space-between;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    width: 6em;
    height: 2em;
    border-radius: 30px;
    border: solid 3px white;
  }
  .carrito__imagen {
    width: 20%;
    height: 11em;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
  }
  .carrito__derecha {
    margin-top: 3em;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 100%;
    height: 50vh;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding: 2em;
  }
  .carrito__derecha-contenido {
    -ms-flex-item-align: center;
        align-self: center;
    position: static;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 100%;
    height: 100%;
  }
  .carrito__mas {
    color: white;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    border-radius: 30px;
    font-size: 1.6em;
    -webkit-transition: .5s;
    transition: .5s;
  }
  .carrito__mas:hover {
    cursor: pointer;
    color: #1b1c1f;
    background-color: white;
  }
  .carrito__menos {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    color: white;
    width: 2em;
    border-radius: 30px;
    font-size: 1.6em;
    -webkit-transition: .5s;
    transition: .5s;
  }
  .carrito__menos:hover {
    cursor: pointer;
    color: #1b1c1f;
    background-color: white;
  }
  .ccompra {
    font-size: 1em;
  }
  .form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding-top: 4.5em;
    width: 100%;
    background: #0096c4;
    height: 90vh;
    background: #1b1c1f;
  }
  .form__inputs {
    width: 100%;
    margin-bottom: 3em;
  }
  .tienda {
    font-family: "Muli", sans-serif;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    height: auto;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .tienda__fantasma {
    height: 10vh;
  }
  .tienda__barra {
    height: 10%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    -ms-flex-preferred-size: 10%;
        flex-basis: 10%;
    background-color: #898989;
  }
  .tienda__contenido {
    -ms-flex-preferred-size: auto;
        flex-basis: auto;
    height: 90vh;
    background-color: #cecece;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .filtros {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 100%;
    height: auto;
  }
  .filtros__lista {
    list-style-type: none;
    padding: 1em;
    margin: -3  em 1em 0 1em;
  }
  .filtros__item1 {
    color: white;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    font-size: 1.3em;
    margin: 2em 0 0 0;
  }
  .filtros__item2 {
    padding: .5em 0 0 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    justify-content: space-between;
    color: white;
    font-size: 1em;
    margin: 0 1em 0 2.5em;
  }
  .productos {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    height: auto;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .filtro1__tipo {
    margin-right: 3em;
  }
  .juegos {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    height: auto;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    background-color: #cecece;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    padding: 0 0 10em 0;
    z-index: 1;
  }
  .producto {
    width: 92%;
    height: 20em;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    background-color: #f1f1f1;
    margin: 4% 0 0 4%;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .producto__fantasma {
    width: 25%;
  }
  .producto:hover {
    cursor: pointer;
  }
  .producto__corazon {
    color: white;
    font-size: 1.9em;
    background-color: #0096c4;
    padding: 5px;
    border-radius: 5px;
  }
  .producto__mas {
    color: white;
    font-size: 1.9em;
    background-color: #898989;
    padding: 5px;
    border-radius: 5px;
  }
  .producto__iconos {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    height: 20%;
    padding: 5px;
    width: 100%;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .producto__img {
    margin: -20px 0 0 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    height: 24em;
    padding: 5px;
    width: 90%;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
  }
  .producto__info {
    margin: 20px 0 0 0;
    border-top: solid 1px #bbbbbb;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 7em;
    width: 90%;
  }
  .producto__titulo {
    padding: 10px;
    width: 50%;
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: left;
        -ms-flex-pack: left;
            justify-content: left;
    -webkit-box-align: left;
        -ms-flex-align: left;
            align-items: left;
  }
  .producto__valor {
    padding: 10px;
    width: 50%;
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: right;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
  }
  .producto__estadisticas {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 3em;
    width: 90%;
  }
  .producto__texto {
    color: #898989;
  }
  .producto__icons {
    padding: 10px;
  }
  .app__fixed {
    position: static;
    width: 100%;
    height: 88vh;
  }
}
/*# sourceMappingURL=styles_taller.css.map */